@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  text-align: center;
}
body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
h1{
  text-align: center;
}
form{
  text-align: center;
}
input{
  border-radius: 30px;
  width: 33%;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 15px 0px 15px;
}
.primary{
  width: 5rem;
  height: 2rem;
  border-radius: 30px;
  background-color: orange;
}
.myForm{
  text-align: center;
  margin-top: 5rem;
}
ul{
  list-style: none;
  text-align: -webkit-center;
  display: inline-flex;
  max-width: 90%;
}
button{
  font-family: 'Montserrat', sans-serif;
}
.cover{
  width: 30rem;
}
.cards{
  width: 100%;
}

.inputRounded .MuiOutlinedInput-root{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}