.teamImg {
  height: 19rem;
  width: 15rem;
  background-color: aliceblue;
}
.teamName h4 {
  font-size: 1rem;
  font-family: "Poppins";
}
.teamName p {
  color: var(--color-light);
  font-size: 0.85rem;
  font-family: "Poppins";
}

.teamImg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
